DATABASE_URL="file:./dev.db"

SESSION_SECRET="change-this-to-a-very-long-random-secret-minimum-32-characters"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"

ADMIN_EMAIL="admin@abud.com"
ADMIN_PASSWORD="Admin@1234"

UPLOAD_DIR="./public/uploads"

PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
PAYPAL_MODE="sandbox"
